.interna-produtos{
    background: url("../img/bg-produtos.jpg") no-repeat center;
    background-size: cover;
}

.produtos-item{
    padding-top: 60px;
}

.produtos-item h2{
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    position: relative;
    top: -170px;
    text-align: center;
    color: #ffffff;
    margin-bottom: -56px;
}

.produtos-item h2:after, .produtos-item h2:before{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #ffffff;
    margin: 8px auto 8px auto;
}

.produto-icone{
    background: #000000;
    padding: 70px 0;
}

.produto-icone img{
    margin: 0 auto;
}

.produto-info{
    background: #000000;
}

.produto-info p{
    color: #ffffff;
    font-size: 18px;
    line-height: 25px;
    padding: 30px 40px;
    height: 182px;
}

.produto-info ul li{
    background: #fec63e;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    float: left;
    width: 229px;
    height: 48px;
    text-align: center;
    padding-top: 16px;
    font-weight: bold;
}

.produto-info ul li:nth-child(1), .produto-info ul li:nth-child(2){
    margin-bottom: 2px;
}


.produto-info ul li:nth-child(even){
    margin-left: 2px;
}

/* Orçamento */

.orcamento{
    background: #000000;
    width: 100%;
    margin-top: 60px;
    padding: 40px 0;
}

.orcamento h2{
    color: #fec63e;
}

.orcamento h2:after{
    background-color: #fec63e;
}

.form{
    padding-right: 60px;
}

.form label{
    display: block;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}

.form input{
    display: block;
    width: 100%;
    border: 4px solid #fec63e;
    background: none;
    color: #ffffff;
    padding: 7px 10px;
    margin-bottom: 10px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', serif;
}

.form textarea{
    display: block;
    width: 100%;
    height: 120px;
    border: 4px solid #fec63e;
    background: none;
    color: #ffffff;
    padding: 7px 10px;
    margin-bottom: 10px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', serif;
}

.form button{
    background: none;
    padding: 7px 40px;
}

.orcamento-dados{
    color: #ffffff;
}

.orcamento-dados h3{
    font-size: 18px;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: bold;
    color: #fec63e;
}

.orcamento-dados span{
    display: block;
    font-weight: bold;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', serif;
    line-height: 30px;
}

.dados-email{
    margin-bottom: 40px;
}

.orcamento-dados ul{
    padding-right: 60px;
}

.orcamento-dados ul li{
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 14px;
    padding: 10px 15px;
}

.orcamento-dados ul li:nth-child(odd){
    background: #1d1d1d;
}

.orcamento-dados p{
    margin: 8px 0;
}