.interna-sobre{
    background: url("../img/bg-sobre.jpg") no-repeat center;
    background-size: cover;
}

.missao-sobre{
    padding-top: 60px;
}

.missao-sobre p{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 1em;
    padding-right: 40px;
}

.missao-sobre ul li{
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 30px;
}

.foto-equipe{
    padding-top: 20px;
}

.subtitulo-interno{
    font-weight: bold;
    font-size: 24px;
    letter-spacing: .1em;
    line-height: 30px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subtitulo-interno:after{
    background-color: #000;
    content: "";
    display: block;
    height: 3px;
    margin: 8px 0;
    width: 60px;
}
